ML_CLIENT_ID=<ML APP CLIENT ID>
ML_CLIENT_SECRET=<ML APP CLIENT SECRET>

DB_HOST=<POSTGRES DB HOST>
DB_PORT=5432
DB_NAME=<POSTGRES DB>
DB_USER=<POSTGRES DB USER>
DB_PASSWORD=<POSTGRES DB PASS>
DB_SCHEMA=etl